body {
  background-color: black;
  color: white;
  font-family: arial;
  display: grid;
  height: 100vh;
  place-content: center;
}

.number-operation,
.number-operation1,
.number-operation-clear,
.number-operation-back {
  background-color: rgb(51, 51, 51);
  border-style: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  margin-right: 5px;
}
.number-operation1 {
  background-color: rgb(254, 160, 10);
}
.number-operation-clear {
  font-size: 100%;
}

.input-style {
  background-color: black;
  border: none;
  color: white;
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 15px;
  min-height: 50px;
  max-width: 250px;
  overflow: auto;
  white-space: nowrap;
  text-wrap: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 700px) and (max-width: 999px) {
  .number-operation,
  .number-operation1,
  .number-operation-clear {
    font-size: 40px;
    height: 120px;
    width: 120px;
  }
  .number-operation-back {
    height: 120px;
    width: 120px;
  }
}